<div class="preview-btn">
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="mobile-overlay"></div>
<div class="preview-overlay">
  {{#each imgs}}
    <div class="preview"><img src="{{this.url}}"  alt="image preview"/></div>
  {{/each}}
</div>