<div class="spotlight-header">At TJEF, a picture shows product!  About 40-45 current John Ernest Fellows is our bandwidth...</div>
<div class="spotlight-picture {{spotlight.class}}">
  <img class="spotlight-img" src="{{img.url}}" />
  <img class="description-arrow" src="" />
  <div class="spotlight-overlay">
  </div>
  <div class="spotlight-description">{{spotlight.description}}</div>
</div>
<div class="spotlight-caption">{{img.caption}}</div>
{{>dots dots=dots}}